body {  font-family: sans-serif;
        background-color: #f8f9fa;
        margin: 0; 
        padding: 20px;
    }
.app-container { max-width: 1000px;
                 margin: auto;
                 background: white;
                 padding: 20px;
                 border-radius: 12px;
                 box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
                }
header h1 { color: #0a3d6f;
            text-align: center;
            margin-bottom: 30px;
    }
.search-section { display: flex;
                  gap: 10px;
                  margin-bottom: 20px;
    }
input, select, button { 
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
input { flex: 3; }
button { background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
 }
    
 button:hover { background-color: #2980b9; }
 
#map { width: 100%;
       height: 400px;
       border-radius: 8px;
       margin-bottom: 20px; 
}
#place-list { list-style: circle; padding: 0; margin-top: 1rem; margin: auto;}

#error-message {
   color: red;
    margin: 10px 0;
    display: none; /* Hidden until JS changes it to 'block' */
    padding: 10px;
    border: 1px solid red;
    background-color: #fff0f0;
    border-radius: 4px;
    font-weight: bold;
}
